.main {
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px black solid
}

.linea1 {
    display: flex;

}

.titulo {
    font-size: 26px;
}

.medida {
    font-size: 18px;
    
    margin-left: auto;

}

.precio {
    font-size: 26px;
    margin-left: auto;
}

.linea2 {
    margin-top: 4px;
    display: flex;
    font-size: 16px;
    gap: 20px
}

.fecha {
    font-size: 14px;
    
}

